body {
  overflow: hidden;
  background-color: rgb(178, 205, 214);
  background: linear-gradient(rgb(178, 205, 214), rgb(129, 186, 209), 205, 214);
  user-select: none;
  touch-action: pan-x pan-y;
  zoom: 250%;

}

#containerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerDiv4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#containerDiv5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#titleImg {
  width: 250px;
  height: 268px;
  margin-top: -35px;
  pointer-events: none;
}

.SettingsImg {
  width: 68px;
  height: 68px;
  pointer-events: none;
  transition: transform 0.5s ease;
}

.SettingsImg:hover {
  transform: rotate(50deg);
}

#Jamson {
  width: 280px;
  height: 210px;
  margin-top: -370px;
  margin-left: 521px;
  opacity: 0.9;
  pointer-events: none;
}

#Jamson1 {
  width: 280px;
  height: 210px;
  margin-top: -370px;
  margin-left: -517px;
  opacity: 0.9;
  pointer-events: none;
}



#Play {
  position: relative;
  padding: 9px 40px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 19px;

  border: 3px solid transparent;
  background-image: linear-gradient(rgb(226, 226, 226)), linear-gradient(to right, #d49abf, #e7a2a2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  overflow: hidden;
  cursor: pointer;
}

#Play::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 11px;
  background: #c7c7c7;
  opacity: 0;
  transition: opacity 0.22s ease;
  z-index: 0;
}

#Play:hover::before {
  opacity: 1;
}

#Play span {
  position: relative;
  z-index: 1;
}


#Credits {
  position: relative;
  padding: 4px 37px;
  margin-top: 5px;
  border-radius: 13px;
  font-size: 14px;

  border: 3px solid transparent;
  background-image: linear-gradient(rgb(226, 226, 226)), linear-gradient(to right, #e7a2a2, #d49abf);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  overflow: hidden;
  cursor: pointer;
}

#Credits::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1px;
  background: #c7c7c7;
  opacity: 0;
  transition: opacity 0.22s ease;
  z-index: 0;
}

#Credits:hover::before {
  opacity: 1;
}

#Credits span {
  position: relative;
  z-index: 1;
}

hr1 {
  border: none;
  height: 3px;
  background-color: #333;
  width: 220px;
  margin-top: -43px;
}


.First {
  display: inline-block;
  background-color: rgb(235, 213, 213);
  width: 300px;
  height: 400px;
  margin-left: -560px;
  margin-top: -367px;
}

.Second {
  display: inline-block;
  background-color: #333;
  width: 7px;
  height: 420px;
  margin-left: -260px;
  margin-top: -400px;
}

.Third {
  display: inline-block;
  background-color: rgb(235, 213, 213);
  width: 300px;
  height: 400px;
  margin-left: 560px;
  margin-top: -430px;
}

.Forth {
  display: inline-block;
  background-color: #333;
  width: 7px;
  height: 420px;
  margin-left: 260px;
  margin-top: -400px;
}

.Fifth {
  display: inline-block;
  background-color: rgba(243, 150, 146, 0.801);
  width: 51px;
  height: 417px;
  margin-left: 318px;
  margin-top: -410px;
}

.Sixth {
  display: inline-block;
  background-color: rgba(243, 150, 146, 0.801);
  width: 51px;
  height: 420px;
  margin-left: 520px;
  margin-top: -430px;
}

.Seventh {
  display: inline-block;
  background-color: rgba(243, 150, 146, 0.801);
  width: 51px;
  height: 420px;
  margin-left: 718px;
  margin-top: -440px;
}

.Eighth {
  display: inline-block;
  background-color: rgba(243, 150, 146, 0.801);
  width: 51px;
  height: 420px;
  margin-left: -318px;
  margin-top: -420px;
}

.Ninth {
  display: inline-block;
  background-color: rgba(243, 150, 146, 0.801);
  width: 51px;
  height: 420px;
  margin-left: -717px;
  margin-top: -420px;
}

.Tenth {
  display: inline-block;
  background-color: rgba(243, 150, 146, 0.801);
  width: 51px;
  height: 420px;
  margin-left: -516px;
  margin-top: -420px;
}