body {
    background-color: deepskyblue;
    background: linear-gradient(to right, #df8181, #e9a6cb, #df8181, #e9a6cb, #df8181);
    user-select: none;
}


#containerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: orbit 6s linear infinite;
}

#containerDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.BigJam {
  width: 600px;
  height: 950px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: transform 0.15s;
  animation: smallTilt 6s ease-in-out infinite;
  -webkit-user-drag: none; 
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(6px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(6px) rotate(-360deg);
  }
}

@keyframes smallTilt {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.BigJam:hover {
  filter: brightness(1.04);
}


#Click {

  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

#Click:hover {
  opacity: 0.8;
}

#Click:active {
  transform: translateY(7px);
  transition: transform 0.03s;
}

.block {
    background-color: rgb(238, 238, 238);
    width: 350px;
    height: 450px;
    margin-top: -900px;
    margin-left: 900px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

