body {
    background-color: deepskyblue;
    background: linear-gradient(to right, #df8181, #e9a6cb, #df8181, #e9a6cb, #df8181);
}

#containerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
    background-color: rgb(238, 238, 238);
    width: 600px;
    height: 450px;
    margin-top: 225px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

#Si {
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    margin-top: -425px;
}

#UserName {
    background-color: rgb(238, 238, 238);
    font-size: 25px;
    height: 45px;
    margin-top: 32px;
    border-radius: 5px;
}

#PassWord {
    background-color: rgb(238, 238, 238);
    font-size: 25px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
}
#ConfirmPassWord {
    background-color: rgb(238, 238, 238);
    font-size: 25px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
}

#Button1 {
    margin-top: 45px;
    font-size: 38px;
    border-radius: 9px;
    cursor: pointer;
}